.bars-wrapper-wrapper {
	display: grid; 
	grid-gap: 20px; 
	padding: 20px; 
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(33, 33, 43, 1);
	border-radius: 20px;
}
.bars-wrapper {
	display: grid; 
	white-space: nowrap;
}
.bars {
	display: grid; 
	grid-template-columns: 40px min-content 40px;  
	text-align: center;
	grid-gap: 5px;
}